#jesko {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid gray;
}
#carros{
    background-image:url("../img/fondo\ _logo.jpg");
    background-size: contain;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;
    padding-top: 180px;
    padding-left: 80px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;

}
#carros a{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    margin: 40px;
    text-align: center;
}
.anclacarro{
    background-image: url(../img/fondonegro.jpg);
    border-radius: 35%;
}

